/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors'
@import './variables/components'
@import './themes/default'
*/

@import "~react-toolbox/lib/base";
@import "~react-toolbox/lib/commons";

$unit: 1rem;
$color-accent: $color-accent;
$color-divider: $color-divider;
$color-content: #fafafa;

$content-offset: 4.8 * $unit;
$content-width: 740px;