.mtHighMedium {
    margin-top: 20px;
    fill: #474747;
    width: 250px;
    float: left;
}

ol, ul {
    margin: 0;
    padding: 0;
}

ol li, ul li {
    list-style-type: none;
}

ul.mtHighMedium > li {
    position: relative;
    height: 100px;
}

ul.mtHighMedium > li > .editButton {
    position: absolute;
    right: 0;
    top: 0;
}

ul.mtHighMedium > li > .deleteButton {
    position: absolute;
    right: 0;
    bottom: 0;
}

.container {
    padding: 10px;
}

.collectionLocalBizsItem {
    margin-bottom: 10px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
}

.collectionLocalBizsLink {
    font-family: Arial,sans-serif;
    font-weight: 400;
    background-image: linear-gradient(48deg,rgba(0,0,0,.4) 31%,transparent);
    display: block;
    font-size: 12px;
    color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
    height: 100px;
}

.collectionLocalBizsTitle {
	text-transform: uppercase;
	font-ize: 14px;
	font-weight: 600;
}

.mtTiny {
    margin-top: 4px;
}

a, a:active, a:focus, a:hover {
    text-decoration: none;
}

a {
    background: transparent;
}

.centerSection {
    display:block;
    float:left;
    margin-left: 5px;
    margin-top: 20px;
    padding-left: 15px;
    width: 600px;
}

.centerSection > .actionButton {
    padding-top: 20px;
}

.centerSection > .actionForm {
    width: 400px;
}